body {
  background-color: black;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: rgb(20, 19, 19);
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
}
