	<section>
    <h1>Dit bibliotek</h1>
		<article>
			<h2>Opret din første playliste</h2>
			<p>Det er nemt - vi skal nok hjælpe dig</p>
			<a href="/">Opret playliste</a>
        </article>
		

		<article>
			<h2>Lad os finde nogle podcasts, du kan følge</h2>
			<p>Vi holder dig orienteret om nye episoder</p>
			<a href="/">Udforsk podcasts</a>
        </article>
    </section>


<style> 
a{
text-decoration: none;
color: black;
background-color: white;
padding: 0.5rem;
border-radius: 2rem;
}    
article{
     background-color: rgb(29, 28, 28);
     margin: 10px;
     border-radius: 8px;
      padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 23px;
  padding-left: 17px;
    }
    section{
        display: grid;
        background-color: rgb(20, 19, 19);
        padding-top: 5px;
        margin-bottom: 5px;
        border-radius: 8px;
    }
</style>